@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

:root {
  --color-blue-light: rgba(0, 108, 252, 1);
  --color-blue: rgba(0, 25, 151, 1);
  --color-green: rgba(0, 144, 72, 1);
  --color-green-light: rgba(108, 180, 108, 1);
  --color-red-light: rgba(220, 91, 73, 1);
  --color-bg-red: rgba(137, 73, 73, 0.9);
  --color-bg-green: rgba(136, 137, 73, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: lightsalmon; */
  font-family: "Dosis", sans-serif;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

h1,
h2 {
  margin-top: 70px;
  font-weight: 800;
}

h1 {
  color: var(--color-green);
  font-size: 88px;
  line-height: 94px;
}

h1 span {
  color: var(--color-green-light);
}

h2 {
  color: black;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
}
button-el {
  width: 100%;
}

section.choice counter-time {
  margin-top: 30%;
}

section.choice bottom-hands {
  width: 100%;
}

section.game {
  position: relative;
  overflow-y: hidden;
}

.hand {
  height: 350px;
  transform: translateY(15px);
}

.hand-machine {
  transform: rotate(180deg) translateY(15px);
}

.hand-player {
}

.lifes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
}
.lifes img {
  width: 40px;
  height: auto;
}
.lifes-top {
  right: 30px;
  top: 30px;
}

.lifes-bottom {
  left: 30px;
  bottom: 30px;
}
